<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Title of the document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/test.js"></script>
<style>
    
</style>
<link type="text/css" rel="stylesheet" href="./css/test.css"/>
</head>

<body>
    <header></header>
    <article>
        <div class="container">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
          
            
        </div>
    </article>
    <aside></aside>
    
    <footer></footer>
<script>

</script>
    
</body>

</html>